body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #868686;
    font-family: 'Wallpoet', cursive;
}

canvas {
    background-color: #2d2d2d;
}

img {
    display: none;
}