body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: content-box;
}

canvas {
    background-color: #2d2d2d;
    border: 5px solid #555555;
}

img {
    display: none;
}